:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

@font-face {
  font-family: "Hero";
  src: url('/fonts/Hero-Regular.ttf');
}
@font-face {
  font-family: "HeroBold";
  src: url('/fonts/Hero-Bold.ttf');
}

@font-face {
  font-family: "Ubuntu";
  src: url('/fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: "UbuntuBold";
  src: url('/fonts/Ubuntu-Bold.ttf');
}

a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: white;
}

p {
  color: '#FFF';
  font-family: "Ubuntu", sans-serif;
}

h1, h2 {
  font-family: "Hero", sans-serif;
  text-transform: uppercase;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
}

.custom-input:focus {
  box-shadow: 0 0 0 0.1rem rgba(229, 78, 78, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
  border: 2px solid transparent;
}

::placeholder {
  color: black;
}

::-webkit-input-placeholder {
  color: "black"
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
