#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;  
}
.main-site-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  background: url('/background.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  box-shadow: inset 0px 0px 300px #000;
  @media (width < 920px) {
    box-shadow: inset 0px 0px 300px #888;
  };
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToBottom {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}